body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: "Electrolize", sans-serif;
}
#header {
  background: linear-gradient(to bottom, #33ccff 0%, #00ffcc 100%);
  color: #fff;
}
.container-fluid {
  padding: 3% 15% 1%;
}
.branded {
  font-size: 2rem;
  font-weight: bold;
}
.navbar {
  padding: 7% 15%;
}
.title-head {
  margin-top: 40px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
.fa-solid {
  color: #33ccff;
}
.title {
  padding: 7% 15%;
}
#feature {
  padding: 7% 15% 4%;
}
.f-box {
  text-align: center;
}
.icon {
  margin-bottom: 2rem;
}
.f-box p {
  padding: 0 30px;
}
#testimonials {
  background-color: #33ccff;
  text-align: center;
  color: #fff;
}
#testimonials h2 {
  padding: 0 90px;
  line-height: 1.5;
  font-weight: bold;
}
.testi-img {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}
.carousel-inner {
  padding: 7% 15%;
}
#press {
  background-color: #33ccff;
  padding: 0 15%;
}
#press img {
  width: 20%;
  margin: 20px;
}
#pricing {
  padding: 7% 15%;
  text-align: center;
}
#download {
  background-color: #33ccff;
  padding: 7% 15%;
  text-align: center;
  color: #fff;
}
#download h1 {
  padding: 0 50px;
  line-height: 1.5;
  font-weight: bold;
}
#footer {
  padding: 3% 15%;
  text-align: center;
}
#footer i {
  color: #151515;
  margin: 10px;
}
@media (max-width: 525px) {
  .btn {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .olamba {
    display: none;
  }
}
